<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- links -->
     <xacro:property name="a" value="0.1" />
     <xacro:property name="b" value="0.1" />
     <xacro:property name="c" value="0.8" />

     <xacro:property name="s" value="${c/2}" />
     <xacro:property name="q" value="${c-c/4}" />
     <xacro:property name="d" value="2710.0" />
     <xacro:property name="m" value="${d*a*b*c}" />

     <xacro:property name="Ix_body" value="${ (1/12)*m*(b*b+c*c) }" />
     <xacro:property name="Iy_body" value="${ (1/12)*m*(a*a+b*b) }" />
     <xacro:property name="Iz_body" value="${ (1/12)*m*(a*a+c*c) }" />

     <xacro:macro name="inertia_body">
        <inertial>
            <mass value="${m}" />
            <origin xyz="0 0 0" rpy="0 0 ${s}" />
            <inertia ixx="${Ix_body}" ixy="0" ixz="0" iyy="${Iy_body}" iyz="0" izz="${Iz_body}" />
        </inertial>
     </xacro:macro>

     <material name="blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
     </material>

     <material name="red">
        <color rgba="1.0 0.0 0.0 1.0"/>
     </material>

     <material name="green">
        <color rgba="0.0 1.0 0.0 1.0"/>
     </material>
</robot>